<style>
  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card {
    transition: 0.5s ease;
    margin:30px;
  }
  </style>
<div class="container">


  <div class="text-center " style="color:#4B4645;">   <h1>Gestion des Factures</h1><br>
    <button (click)="getAllFacture()" type="button"  class="btn btn-outline-primary mb-3" data-bs-whatever="@fat" ><i class="fas fa-align-justify"></i>   Tous les factures</button>

    <br>
    <div class="card text-center">
      <div class="card-header">
        <h4>Opérations</h4>
      </div>
      <div class="card-body">
        <p class="card-text">Bienvenue dans l'espace de gestion des factures</p>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button (click)="triFactures()" type="button"  class="btn btn-outline-primary mb-3" data-bs-whatever="@fat"><i class="fas fa-sort"></i>   Filtrer par montant du facture</button>
          <button (click)="getActiveFac()" type="button"  class="btn btn-outline-primary mb-3" data-bs-whatever="@fat"><i class="far fa-check-circle"></i>   Factures Actives</button>
          <button (click)="getInactiveFac()" type="button"  class="btn btn-outline-primary mb-3" data-bs-whatever="@fat"><i class="fas fa-exclamation-circle"></i>   Facture Inactives</button>

      </div>
      <div class="card-footer text-muted">
        Récupérer facture par date :
       <div> <input (change)="searchByDate(getDate.value)" #getDate class ="text-center btn btn-outline-primary" type="date"></div>
       <br>
       Récupérer facture par valeur du montant :
       <br>
       <mat-slider
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="1000"
          step="500"
          min="0"
          max="50000"
          aria-label="units"
          (input)="searchByMontant($event)">
        </mat-slider>
<br>
Télécharger la liste des factures<br>
<button (click)="openPDF()" type="button"  class="btn btn-outline-primary mb-3" data-bs-whatever="@fat"><i class="fas fa-file-download"></i>   Télécharger</button>
       </div>
      </div>
    </div>

  </div>



  <div class="row" id="htmlData">
  <div class="col-4 " *ngFor="let item of listFacture; let i = index">

      <div [class]="item.active?'card border-info mb-3':'card border-danger mb-3'"  >

        <div [class]="item.active?'card-header text-dark bg-info mb-3':'card-header text-white bg-danger mb-3'">
         <p><strong>Date du facture : </strong></p> {{item.dateFacture}}
        </div>
        <div class="card-body" >
          <h5 class="card-title"><strong>Montant du facture : </strong> {{item.montantFacture}}</h5>
            <p class="card-text"><strong> Montant du remise : </strong>{{item.montantRemise}}</p>
            <div *ngIf="item.active == true ; then active else nonActive"></div>
            <ng-template #active><strong> Etat de la facture : </strong> Activée</ng-template>
            <ng-template #nonActive><strong> Etat de la facture : </strong> Désactivée</ng-template>
            <div *ngFor="let detailItem of item.detailFacture; let j = index">
              <p class="card-text"><strong> Quantité : </strong>{{detailItem.qte}}</p>
            </div>
        <div class="mt-5">
          <div *ngIf="item.active == false; then conditionActive else conditionInactive" ></div>
           <button (click)="deleteFacture(item.idFacture)" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-outline-dark ml-3" > <i class="fas fa-trash-alt"></i>  Supprimer</button>
           <ng-template #conditionInactive>
           <button (click)="setFactureInactive(item.idFacture)" data-bs-toggle="modal" data-bs-target="#inactiveModal" class="btn btn-outline-danger ml-5 px-4" ><i class="fas fa-times"></i>  Désactiver</button>
          </ng-template>
          <ng-template #conditionActive>
           <button (click)="setFactureActive(item.idFacture)" data-bs-toggle="modal" data-bs-target="#activeModal" class="btn btn-outline-info ml-5 px-4" ><i class="fas fa-check-double"></i>  Activer</button>
          </ng-template>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>



<div class="modal fade" id="inactiveModal" tabindex="-1" aria-labelledby="inactiveModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: black; color: blanchedalmond;">
        <h5 class="modal-title" id="deleteModalLabel" style="font-weight: bold; margin-left: 150px;">DESACTIVER FACTURE</h5>
      <button type="button" class="btn-close" style="background-color: blanchedalmond;" data-bs-dismiss="modal" aria-label="Close" ></button>
    </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="nom" class="col-form-label">Voulez-vous désactiver cette facture !</label>
        </div>
        <div class="modal-footer" >

          <button (click)="confirmInactive()"  class="btn btn-outline-success" data-bs-dismiss="modal">Désactiver</button>
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Retour</button>
        </div>
        </div>
        </div>
        </div></div>


<div class="modal fade" id="activeModal" tabindex="-1" aria-labelledby="activeModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="background-color: black; color: blanchedalmond;">
                <h5 class="modal-title" id="deleteModalLabel" style="font-weight: bold; margin-left: 150px;">ACTIVATION FACTURE</h5>
              <button type="button" class="btn-close" style="background-color: blanchedalmond;" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="nom" class="col-form-label">Voulez-vous activer cette facture !</label>
                  </div>
                </div>
                <div class="modal-footer" >
                  <button (click)="confirmActive()"  class="btn btn-outline-success" data-bs-dismiss="modal">Activer</button>
                  <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Retour</button>
                </div>
                </div>
                </div>
        </div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: black; color: blanchedalmond;">
        <h5 class="modal-title" id="deleteModalLabel" style="font-weight: bold; margin-left: 150px;">SUPPRESION FACTURE</h5>
      <button type="button" class="btn-close" style="background-color: blanchedalmond;" data-bs-dismiss="modal" aria-label="Close" ></button>
    </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="nom" class="col-form-label">Voulez-vous supprimer cette facture !</label>
          </div>
        </div>
        <div class="modal-footer" >
          <button (click)="confirmDelete()"  class="btn btn-outline-success" data-bs-dismiss="modal">Supprimer</button>
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Retour</button>
        </div>
        </div>
        </div>
        </div>







